/* =====================================================
					TOP BG IMAGE
=======================================================  */

body::before {
	height: 1000px;
}

/* =================================================
						HEADER
==================================================*/

.nav-menu li {
	margin: 0 10px;
}

.logo {
	height: 40px;
}

/* =================================================
						MAIN
==================================================*/
#main {
	height: 60vh;
	margin: 7rem auto;
    padding: 1rem 0.5rem; 
    flex-direction: column-reverse;
	align-items: stretch;
	border: none;
}

.contact-img {
	padding: 5px;
	justify-content: space-between;
}

.about p {
    margin-bottom: 2rem;
}

.intro {
	font-size: 1.8rem;
}

.text-prime {
	font-size: 2.4rem;
} 

.fa {
	font-size: 2rem;
}
/* =====================================================
					PROJECTS CONTAINER
=======================================================  */

.proj-sect {
	margin: 0 1rem;
}

.describe {
	font-size: 1.0rem;
}


/* =====================================================
					LAST CONTAINER
=======================================================  */

.wrap-box {
	margin: 0 1rem;
	font-size: 1.0rem;
}

.contact {
	padding: 1rem;
}
